/*********************************** Fonts ***********************************/

@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Slabo+27px);
@import url(//fonts.googleapis.com/css?family=PT+Serif);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body { font-family: 'Open Sans'; }
h1, h2 { font-family: 'Ubuntu'; }
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

h1, h2, h3 {
    font-weight: normal;
}

.remark-slide-content h1 { font-size: 60px; }
.remark-slide-content h2 { font-size: 48px; }
.remark-slide-content h3 { font-size: 36px; }
.remark-slide-content h4 { font-size: 30px; }
.remark-slide-content h5 { font-size: 24px; }
.remark-slide-content h6 { font-size: 20px; }

/*************************** Miscellaneous Styles ***************************/
h1 { margin: 0.5em 0; }
h2 { margin: 0.5em 0; }
h3 { margin: 0; }

img {
    display: block;
    max-width: 100%;
}

blockquote p {
    color: #666;
    font-style: italic;
}

pre {
    overflow: scroll;
    scrollbar-width: none;
}

pre, p, ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li > ul {
    margin: 0;
}

/* striped tables */
tbody tr:nth-child(odd) {
    background-color: #ddd;
}

/* Make the inline code stand out a little more */
.remark-inline-code {
    padding: 0.1em;
    border: 1px solid #EEE;
}

/******************************** Grid Layout ********************************/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}

.col-1  { width: 8.3333%; }
.col-2  { width: 16.6666%; }
.col-3  { width: 25%; }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50%; }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75%; }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%; }

.offset-1  { margin-left: 8.3333%; }
.offset-2  { margin-left: 16.6666%; }
.offset-3  { margin-left: 25%; }
.offset-4  { margin-left: 33.3333%; }
.offset-5  { margin-left: 41.6666%; }
.offset-6  { margin-left: 50%; }
.offset-7  { margin-left: 58.3333%; }
.offset-8  { margin-left: 66.6666%; }
.offset-9  { margin-left: 75%; }
.offset-10 { margin-left: 83.3333%; }
.offset-11 { margin-left: 91.6666%; }
.offset-12 { margin-left: 100%; }

/****************************** Utility Classes ******************************/
.text-center, .text-left, .text-right,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.clear { display: block; }

.list-style-none ul { list-style-type: none; padding-left: 0; }

.double-space { line-height: 1.3em; }

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-larger { font-size: 1.2em; }
.text-large { font-size: 2em; }
.text-smaller { font-size: 0.9em; }
.text-small { font-size: 0.75em; }
.text-bold { font-weight: bold; }
.text-underline { text-decoration: underline; }
.text-invert { color: white; background: darkgreen; }
.text-invert a { color: white; }
.text-white { color: white; }
.text-light { color: #BBB; }
.text-black { color: #000; }
.text-red { color: red; }
.text-blue { color: blue; }
.text-strikethrough { text-decoration: line-through; }

.bg-black { background: black; }
.bg-white { background: white; }
.bg-darkgreen { background: darkgreen; }
.bg-green { background: green; }
.bg-lightgreen { background: lightgreen; }
.bg-yellow { background: yellow; }
.bg-red { background: red; }
.bg-pink { background: pink; }
.bg-navy { background: navy; }
.bg-firebrick { background: firebrick; }
.bg-purple { background: purple; }

.clear { clear: both; }
.center-table > table { margin: auto; }

.br, .border-right { border-right: 1px solid #BBB; }
.bl, .border-left { border-left: 1px solid #BBB; }
.bt, .border-top { border-top: 1px solid #BBB; }
.bb, .border-bottom { border-bottom: 1px solid #BBB; }

.mt1,  .margin-top-1 { margin-top: 1em; }
.mt15, .margin-top-15 { margin-top: 1.5em; }
.mt2,  .margin-top-2 { margin-top: 2em; }
.mb1,  .margin-bottom-1 { margin-bottom: 1em; }
.mb15, .margin-bottom-15 { margin-bottom: 1.5em; }
.mb2,  .margin-bottom-2 { margin-bottom: 2em; }
.pt1,  .padding-top-1 { padding-top: 1em; }
.pt15, .padding-top-15 { padding-top: 1.5em; }
.pt2,  .padding-top-2 { padding-top: 2em; }
.pb1,  .padding-bottom-1 { padding-bottom: 1em; }
.pb15, .padding-bottom-15 { padding-bottom: 1.5em; }
.pb2,  .padding-bottom-2 { padding-bottom: 2em; }

.pull-right { float: right !important; }
.pull-left { float: left !important; }

.horizontal-list ul { display: flex; justify-content: space-around; }
.extra-space-list ul li,
.extra-space-list ol li {
    display: inline-block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ol {
    list-style-type: decimal;
}
